
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="section-container" class="container p-5 text-center" style="background: #b35900; margin-top: -20px; margin-bottom: -5px;">

    <img src="~/Content/Geometar/geometar.jpg" class="mg-fluid img-thumbnail">

</div>

