
@{
    ViewBag.Title = "ONama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: #b35900;margin-top: 15px; align-items: left; padding-bottom: 30px; margin-top:  -20px;">

    <div class="p-3 row" style="text-align: center;color: black;background;">
       
        <div class="col-12 d-xs-none d-sm-block d-lg-block img-fluid" style="background-color: white;">
            <img class="img-fluid" src="~/Content/Harmony022.png" alt=""> >
        </div>
   
        <div class="col-12" style="background-color: white;">
            <h4 class="h3">Agencija „Harmony 022“ je osnovana u Beški.<br /> <small class="text-muted">Sedište agencije nalazi se u ulici Kneza Miloša 7/13 ( prolaz „Pijaca“).</small> </h4>
            <h5 class="text-left h4 ml-2">U našoj ponudi imamo nekretnine:</h5>
            <ul class="text-left">

                <li>
                    <h5>vikendice</h5>
                </li>
                <li>
                    <h5>stanove</h5>
                </li>
                <li>
                    <h5>kuće</h5>
                </li>
                <li>
                    <h5>poslovne prostore</h5>
                </li>
                <li>
                    <h5>zemljišta</h5>
                </li>
            </ul>
            <h5 class="text-left h4 ml-2">U našoj agenciji vršimo:</h5>
            <ul class="text-left">

                <li>
                    <h5>
                        Legalizaciju ( geometar, projektant)
                    </h5>
                </li>
                <li>
                    <h5>
                        sve vrste usluga u katastru i urbanizmu ( list nepokretnosti, kopija plana, informacija o lokaciji, lokacijski uslovi i dr. )
                    </h5>
                </li>
            </ul>

            <p class="text-left ml-3 h4">
                Angažovanjem naše agencije dobijate kompletnu uslugu od:

                <ul class="text-left">

                    <li>
                        <h5>davanje tačnih i proverenih informacija o nekretnini</h5>
                    </li>
                    <li>
                        <h5>vođenje kupca u željenu nekretninu</h5>
                    </li>
                    <li>
                        <h5>
                            ostvarivanje kontakta između kupca i prodavca
                        </h5>
                    </li>
                    <li>
                        <h5>provera imovinsko-pravne dokumentacije vezane za nekretninu</h5>
                    </li>
                    <li>
                        <h5>
                            upoznavanje zainteresovanih strana sa svim zakonskim i drugim okolnostima i obavezama
                        </h5>
                    </li>
                    <li>
                        <h5>
                            izrada Ugovora o kupoprodaji
                        </h5>
                    </li>
                    <li>
                        <h5>
                            pružanje potpune diskrecije klijentima

                        </h5>
                    </li>
                    <li>
                        <h5>
                            sređivanje papira do uknjižbe na ime kupca

                        </h5>
                    </li>
                    <li>
                        <h5>
                            prevod komunalija na ime kupca

                        </h5>
                    </li>
                    <li>
                        <h5>
                            oglašavanje u različitim medijama;

                        </h5>
                    </li>


                </ul>
                <br>
            <p class="text-left">
                Mi cenimo vaše vreme i vaš novac i zato polazimo od transparentnosti kao našeg osnovnog principa. Naš glavni motiv jeste da proces traženja, zakupa i kupovine nekretnina učinimo brzim i efikasnim.

            </p> <br>
            <p class="text-left">
                Svakoj nekretnini posvećujemo punu pažnju, sve nekretnine iz naše ponude videli smo lično, upoznali smo vlasnike i imamo potpune informacije koje možemo preneti svojim klijentima. Jedan od važnih segmenata našeg poslovanja je i saradnja sa vodećim bankama u Srbiji, a sve u cilju kvalitetnije i brže realizacije kupoprodajnih transakcija za naše klijente, kroz hipotekarne i druge kredite. Identitet i popularnost naše firme,kao i poverenje prodavaca i kupaca izgradili smo svojim profesionalnim radom, pružanjem kompletnih usluga, stručnim savetima za zaštitu interesa u imovinsko-pravnim odnosima. Kupci znaju da kada kupuju nekretninu uz naše posredovanje, njihovi interesi bivaju zaštićeni tokom celog procesa, jer iza njih stoje profesionalci , pre, za vreme i nakon prodaje.
            </p>             <br>

            <p class="text-left">
                Ozbiljnost, predanost poslu, poštenje, stručnost, kao i visoki stepen profesionalizma istakli su našu  firmu kao veoma sigurnog i pouzdanog partnera svakoj porodici, pojednicu ili preduzeću, koji se odluče da prodaju ili kupe nekretninu.
            </p>
            <br><br>  Poslovanje „Harmony 022“ nekretnina je u potpunosti prilagodjeno odredbama Zakona o posredovanju u prometu i zakupu nepokretnosti.

            <br> Upisani smo u registar posrednika pod rednim brojem 1189.
            <br> Dobro došli
            </p>
        </div>


    </div>
    <div class="cont" style="margin-top: 20px;">

    </div>
</div>


