
@{
    ViewBag.Title = "ONama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: #b35900;margin-top: 15px; align-items: left; padding-bottom: 30px; margin-top:  -20px;">

    <div class="p-3 row" style="text-align: center;color: black;background;">
        <div class="col-12 d-sm-none d-lg-block img-fluid" style="background-color: white;">
            <img class="" src="~/Content/Harmony022.png" alt=""> >
        </div>
        <div class="col-12 d-sm-block d-lg-none img-fluid" style="background-color: white;">
            <img class="img-fluid" src="~/Content/Harmony022.png" alt=""> >
        </div>
        <div class="col-12" style="background-color: white;">
            <h4 class="h3">Agencija „Harmony 022“ je osnovana u Beški. <small class="text-muted">Sedište agencije nalazi se u ulici Kneza Miloša 7/13 ( prolaz „Pijaca“).</small> </h4>
            <h5 class="text-left h4 ml-2">U našoj ponudi imamo nekretnine:</h5>
            <ul class="text-left">

                <li>
                    <h5>vikendice</h5>
                </li>
                <li>
                    <h5>stanove</h5>
                </li>
                <li>
                    <h5>kuće</h5>
                </li>
                <li>
                    <h5>poslovne prostore</h5>
                </li>
                <li>
                    <h5>zemljišta</h5>
                </li>
            </ul>
            <p class="text-left ml-3 h4">
                Angažovanjem naše agencije dobijate kompletnu uslugu po pitanju: informacija, razgledanja nekretnina, pravnih saveta.<br> Naš tim vas prati sve do zaključenja kupoprodajnog ugovora, overe, uknjižbe, kao i rešavanja svih administrativno
                - tehničkih poslova u vezi sa nekretninama.<br> <br> Dokumentacija svih nekretnina iz naše ponude s pravne strane se detaljno proverava, čime se kupcu (zakupcu) garantuje da kupuje (iznajmljuje) nekretninu bez mogućih sporova ili nemogućnost
                za prenos vlasnistva.
                <br><br>  Poslovanje „Harmony 022“ nekretnina je u potpunosti prilagodjeno odredbama Zakona o posredovanju u prometu i zakupu nepokretnosti.
                <br> Upisani smo u registar posrednika pod rednim brojem 1189.
                <br> Dobro došli
            </p>
        </div>


    </div>
    <div class="cont" style="margin-top: 20px;">

    </div>
</div>


