
@{
    ViewBag.Title = "ONama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: #b35900;margin-top: 15px; align-items: left; padding-bottom: 30px; margin-top:  -20px;">

    <div class="p-3 row" style="text-align: center;color: black;background;">
       
        <div class="col-12" style="background-color: white;">
            <h4 class="h3" style="font-weight: bold;">OPŠTI USLOVI POSLOVANJA</h4>
            <h5 class="text-left h4 ml-2" style="font-weight: bold;">
                I OPŠTE ODREDBE
            </h5>

            <p style="text-align: left">
                Opštim uslovima poslovanja Harmony 022 Nekretnina uređuje se poslovni odnos između posrednika u prometu i zakupu nepokretnosti i nalogodavca (fizičkog ili pravnog lica). Zaključenjem ugovora o posredovanju, odnosno prihvatanjem ovih uslova nalogodavac potvrđuje da je upoznat i saglasan sa odredbama Opštih uslova poslovanja posrednika u prometu nepokretnosti.
            </p>
            <br />
            <h5 class="text-left h4 ml-2" style="font-weight: bold;">
                II OPIS POSLOVA KOJE JE POSREDNIK DUŽAN DA OBAVI
            </h5>

            <ul class="text-left">

                <li>
                    <h5>da zaključi ugovor o posredovanju sa nalogodavcem u pisanom obliku; </h5>
                </li>
                <li>
                    <h5>da nastoji da nađe i dovede u vezu sa nalogodavcem lice radi zaključenja pravnog posla;</h5>
                </li>
                <li>
                    <h5>
                        da nalogodavcu da objektivno mišljenje o ceni nepokretnosti ili iznosu zakupnine nepokretnosti u skladu sa njenim karakteristikama, prilikama na tržištu, kao i drugim relevantnim okolnostima;
                    </h5>
                </li>
                <li>
                    <h5>
                        da izvrši uvid u isprave kojima se dokazuje pravo svojine ili drugo stvarno pravo na nepokretnosti čiji promet, odnosno zakup je predmet posredovanja;
                    </h5>
                </li>
                <li>
                    <h5>
                        da obavi potrebne radnje u cilju predstavljanja (prezentacije) nepokretnosti na tržištu, da postavi oglas u vezi sa prometom, odnosno zakupom nepokretnosti na odgovarajući način i da izvrši sve druge radnje dogovorene ugovorom o posredovanju koje prelaze uobičajenu prezentaciju, a zašta ima pravo na posebne, unapred iskazane troškove;
                    </h5>
                </li>
                <li>
                    <h5>
                        da čuva podatke o ličnosti nalogodavca, a po pisanom nalogu nalogodavca da čuva kao poslovnu tajnu podatke o nepokretnosti, u vezi sa čijim prometom, odnosno zakupom posreduje, ili u vezi sa tom nepokretnosti, ili o poslu za koji posreduje;
                    </h5>
                </li>
                <li>
                    <h5>
                        da obavesti nalogodavca o svim okolnostima značajnim za predmetni posao koje su mu poznate;
                    </h5>
                </li>
                <li>
                    <h5>da posreduje u pregovorima i nastoji da dođe do zaključenja ugovora;</h5>
                </li>
                <li>
                    <h5>
                        da prisustvuje kod zaključenja pravnog posla (Predugovora i Ugovora);
                    </h5>
                </li>
                <li>
                    <h5>
                        da prisustvuje primopredaji nepokretnosti;
                    </h5>
                </li>
            </ul>

            <p style="text-align: left;">Smatra se da je posrednik omogućio nalogodavcu vezu s drugim licem (fizičkim ili pravnim) o pregovaranju za zaključenje pravnog posla, ako je nalogodavcu omogućeno stupanje u vezu sa drugim licem sa kojim je pregovarao za zaključenje pravnog posla, a posebno ako je: neposredno odveo, ili uputio nalogodavca, ili treće lice na razgledanje predmetne nepokretnosti; organizovao susret između nalogodavca i trećeg lica radi pregovaranja za zaključenje pravnog posla, ili ako mu je saopštio tačnu lokaciju tražene nepokretnosti.</p>
            <br />
            <h5 class="text-left h4 ml-2" style="font-weight: bold;">
                OBAVEZE NALOGODAVCA

            </h5>

            <ul class="text-left">

                <li>
                    <h5>da obavesti posrednika o svim okolnostima koje su od značaja za obavljanje posredovanja; </h5>
                </li>
                <li>
                    <h5>da posredniku da na uvid originalne isprave koje dokazuju njegovo pravo na nepokretnosti, koje je predmet prometa, odnosno da upozori posrednika na sve upisane i ne upisane terete koji postoje na nepokretnosti;</h5>
                </li>
                <li>
                    <h5>da osigura posredniku i licu zainteresovanom za zaključenje pravnog posla razgledanje nepokretnosti, na dogovoreni način i u dogovoreno vreme;</h5>
                </li>
                <li>
                    <h5>da obavesti posrednika o svim bitnim podacima o nepokretnosti, što posebno uključuje tačne podatke o ceni, lokaciji, strukturi i dr;</h5>
                </li>
                <li>
                    <h5>da isplati posredniku ugovorenu posredničku naknadu, i ako je to posebno ugovoreno, da nadoknadi posredniku druge troškove nastale tokom posredovanja (u skladu sa cenovnikom posrednika);</h5>
                </li>
                <li>
                    <h5>
                        da obavesti posrednika pisanim putem o svim promenama u vezi sa posredovanim poslom, a posebno o promenama u vezi sa pravima na nepokretnosti, rokovima i cenom, a sve u roku od tri dana od nastale promene;
                    </h5>
                </li>
                <li>
                    <h5>da odmah obavesti posrednika da je lice koje je preko posrednika gledalo nepokretnost pokazalo interesovanje da bez posrednika zaključi ugovor/predugovor o kupoprodaji nepokretnosti, zakupu nepokretnosti, ili obavi neki drugi pravni posao koji je posledica rada posrednika. </h5>
                </li>

            </ul>
            <br />
            <h5 class="text-left h4 ml-2" style="font-weight: bold;">
                III OSTVARIVANJE PRAVA NA POSREDNIČKU NAKNADU
            </h5>

            <p style="text-align: left;">
                Posrednik stiče pravo na posredničku nadoknadu u trenutku zaključenja ugovora za koji je posredovao, osim ako posrednik i nalogodavac nisu ugovorili da se pravo na posredničku naknadu stiče u momentu zaključenja predugovora za koji je posrednik posredovao.
            </p>

            <p style="text-align: left;">
                Posrednik ne može da zahteva delimično plaćanje posredničke provizije unapred, odnosno pre zaključenja predugovora, odnosno ugovora, za koji je posredovao, u skladu sa predhodnim stavom.
            </p>

            <p style="text-align: left;">
                Iznos posredničke naknade, odnosno način određivanja iznosa posredničke naknade, kao i vrsta i visina troškova za dodatne usluge posrednika, utvrđeni su Cenovnikom posredničkih usluga koji je sastavni deo ovih Opštih uslova poslovanja.
            </p>

            <p style="text-align: left;">
                Posrednik može da ugovori pravo na naknadu dodatnih troškova nužnih za izvršenje naloga, bez obzira na uspeh posredovanja, i zatraži da mu se unapred plate sredstva za određene izdatke, ako je to izričito navedeno u ugovoru o posredovanju.
            </p>

            <p style="text-align: left;">
                Posrednik ima pravo na posredničku naknadu ako bračni, odnosno vanbračni drug, potomak, ili roditelj lica sa kojom je posrednik doveo u vezu nalogodavca, zaključi posrednički pravni posao.
            </p>

            <p style="text-align: left;">
                Ako nakon prestanka važenja ugovora o posredovanju, na osnovu otkaza nalogodavca, a u roku ne dužem od trajanja ugovora o posredovanju, od dana prestanka važenja ugovora, nalogodavac zaključi pravni posao koji je neposredna posledica posrednikovog posredovanja pre prestanka važenja ugovora o posredovanju, dužan je da posredniku plati ugovorenu posredničku nagradu u celini, osim ako je ugovorom o posredovanju drugačije bilo ugovoreno.
            </p>

            <p style="text-align: left;">
                Ako pod uslovom i u roku iz predhodnog stava, nalogodavac zaključi pravni posao koji je u značajnoj meri rezultat posrednikovog posredovanja pre prestanka važenja ugovora o posredovanju, dužan je da plati posredniku srazmernu posredničku naknadu, osim ako je ugovorom o posredovanju drugačije bilo ugovoreno.
            </p>
            <br />
            <h5 class="text-left h4 ml-2" style="font-weight: bold;">
                IV OPŠTE ODREDBE
            </h5>

            <p style="text-align: left">
                Na odnose između nalogodavca i posrednika koji nisu uređeni ovim Opštim uslovima poslovanja, a nisu ugovoreni ugovorom o posredovanju, primenjuju se odredbe Zakona koji regulišu ovu oblast i Zakona o obligacionim odnosima.
            </p>
            <br />

            <h5 class="text-left h4 ml-2" style="font-weight: bold;">
                -Usluge
            </h5>
            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                LEGALIZACIJA
            </h4>
            <p style="text-align: left">
                HARMONY 022 Nekretnine  preuzimaju celokupnu brigu o ozakonjenjenju Vašeg objekta, naš tim će učiniti da procedura bude brza, efikasna i ispravno sprovedena.
            </p>

            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                PRIBAVLJANJE DOKUMENTACIJE ZA IZGRADNJU

            </h4>
            <p style="text-align: left">HARMONY 022 Nekretnine  može da Vam obezbede brzo i efikasno pribavljanje kompletne dokumentacije neophodne za izgradnju Vašeg objekta.</p>

            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                BRIGA O VAŠOJ NEKRETNINI

            </h4>
            <p style="text-align: left">HARMONY 022 Nekretnine vam nude plaćanje svih računa koji se odnose na Vašu nekretninu, periodični obilazak nekretnine (dnevni, nedeljni i mesečni) naplata stanarine, održavanje biljaka, provetravanje i dr.</p>

            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                CENOVNIK USLUGA
            </h4>

            <p style="text-align: left">
                Ovaj dokument predstavlja zvaničan cenovnik posredničkih naknada za obavljeno posredovanje pri kupoprodaji, zameni i iznajmljivanju nepokretnosti agencije HARMONY 022 Nekretnine.
            </p>

            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                KUPORODAJA
            </h4>

            <p style="text-align: left">
                Provizija se naplaćuje u procentu od 0,5% do 4,00% od postignute prodajne cene Nepokretnosti u kojoj je agencija posredovala i plaća se na dan overe predugovora ili ugovora a nikako ne može biti niža od fiksnog iznosa od 600 EUR.
            </p>

            <p style="text-align: left">
                Kod posredovanja prilikom prodaje, provizija se naplaćuje od prodavca u iznosu od 2% postignute cene, a ne manje od 600EUR fiksno, odnosno i od kupca 2%, a ne manje od 600EUR fiksno, ukoliko kupac nije angažovao registrovanu agenciju posredovanje u tom pravnom poslu.
            </p>

            <p style="text-align: left">
                Kod kupovine nepokretnosti, provizija se naplaćuje od kupca nepokretnosti u iznosu od 2% postignute cene, a ne manje od 600EUR fiksno.
            </p>

            <p style="text-align: left">
                Kod zamene nepokretnosti, provizija se naplaćuje u visini od 2% od dogovrene vrednosti nepokretnosti, od obe strane u zameni.
            </p>
          

            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                ZAKUP NEPOKRETNOSTI
            </h4>

            <p style="text-align: left">
                Posredovanje prilikom davanja i uzimanja nepokretnosti u zakup se naplaćuje u iznosu od 50-100% (zavisno od dužine trajanja ugovora), od jedne mesečne rate dogovorene zakupnine od obe strane u zakupu izuzev ukoliko je jedna od strana angažovala registrovanu agenciju u tom pravnom poslu.
            </p>
            <p style="text-align: left">
                Kompletna usluga izdavanja nepoketnosti po principu „Stan Na Dan“ (dovođenje zakupaca, organizacija službe čišćenja, obezbeđenja, pranja posteljine itd...) 25% od mesečnog prihoda.
            </p>

            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                ADMINISTRATIVNE USLUGE

            </h4>

            <p style="text-align: left">
                Usluga pripreme i kompletiranja dokumentacije za prodaju nekretnine od 0,1% do 2% procenjene vrednosti nekretnine (po podacima nadležne PU) u zavisnosti od obima angažovanja i provedenog vremena u radu od strane Agencije.
            </p>

            <p style="text-align: left">
                Priprema dokumentacije za upis nepokretnosti u Katastar nepokretnosti plaća se nezavisno od vrednosti nepokretnosti i to u iznosu od 3000,00 RSD pa do 30.000,00 RSD u zavisnosti od složenosti i obima posla.
            </p>

            <p style="text-align: left">
                Priprema dokumentacije za poresku upravu bez posredovanja u prometu plaća se nezavisno od vrednosti nepokretnosti i to u iznosu od 3.000,00 RSD do 25.000,00 RSD u zavisnosti od obima posla.
            </p>

            <p style="text-align: left">
                Predaja dokumentacije u Katastar nepokretnosti bez posredovanja u prometu plaća se nezavisno od vrednosti nepokretnosti i to u iznosu od 1.500,00 RSD do 15.000,00 RSD u zavisnosti od obima posla.
            </p>
            <p style="text-align: left">
                Provera dokumentacije nekretnine, bez učešća u posredovanja u prometu plaća se nezavisno od vrednosti nepokretnosti i to u iznosu od 4.000,00 RSD do 30.000,00 RSD u zavisnosti od obima posla.
            </p>
            <p style="text-align: left">
                Stručne konsultacije o prometu i izdavanju nepokretnosti, bez posredovanja u prometu plaća se nezavisno od vrednosti nepokretnosti i to u iznosu od 6.000,00 RSD do 70.000,00 RSD u zavisnosti od obima posla.
            </p>
            <ul class="text-left">

                <li>
                    <h5>
                        Izlazak na svaki teren, zastupanje i prezentacija nepokretnosti – 2.000,00 RSD
                    </h5>
                </li>
                <li>
                    <h5>
                        Dnevno oglašavanje u skladu sa politikom Agencije – 200,00 RSD po danu oglašavanja
                    </h5>
                </li>
                <li>
                    <h5>Troškovi prevoza u slučaju da se nepokretnost nalazi na udaljenosti većoj od 30km od sedišta Agencije – 80,00 RSD po kilometru.</h5>
                </li>
                <li>
                    <h5>
                        Troškovi reprezentacije prema dostavljenim računima.
                    </h5>
                </li>

            </ul>
         
            <h4 class="text-left h4 ml-2" style="font-weight: bold;">
                BRIGA O NEKRETNINI I ODRŽAVANJE ISTE


            </h4>

            <p style="text-align: left">
                Plaćanje svih računa koji se odnose na nekretninu, periodični obilazak nekretnine (dnevni, nedeljni i mesečni) naplata stanarine, održavanje biljaka, provetravanje i dr., od 4.000,00 RSD do 120.000,00 RSD.
            </p>
            <br />
            <h4 style="text-align: left; font-weight: bold;">
                S poštovanjem
            </h4>
           
            <h4 style="text-align: left; font-weight: bold;">
                HARMONY 022 Nekretnine
            </h4>
        </div>


    </div>
    <div class="cont" style="margin-top: 20px;">

    </div>
</div>


